/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


body {
  font-family: "poppins", sans-serif;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;

}
